<div class="form-row">
  <div class="form-item">
    <label class="required">Title</label>
    <input type="text" name="title" value="<%= book.title %>" minlength="1" maxlength="500" placeholder="1-500 charecters">
  </div>
</div>
<div class="form-row">
  <div class="form-item">
    <label class="required">Author</label>
    <select name="author" id="author-select">
      <% authors.forEach(author => { %>
        <% if (book.author && author.id === book.author.valueOf()) { %>
          <option class="author-row" selected label="<%= author.name %>" value="<%= author.id %>">
        <% } else { %>
          <option class="author-row" label="<%= author.name %>" value="<%= author.id %>">
        <% } %>
      <% }) %>
      <% if (authors.length === 0) { %> <!-- Add this condition -->
        <option class="author-row" id="other-author-option" value="other">Add First Author</option>
      </select>
      <input type="text" id="other-author-input" name="otherAuthor" style="display: block;" placeholder="Please Enter Author Name" required>
      <% } else { %>
        <option class="author-row" id="other-author-option" value="other">Other</option>
      </select>
      <input type="text" id="other-author-input" name="otherAuthor" style="display: none;" placeholder="Please Enter Author Name" >
      <% } %>
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label class="required">Publisher/Platform</label>
    <select name="publisher" id="publisher-select">
      <% publishers.forEach(publisher => { %>
        <% if (book.publisher && publisher.id === book.publisher.valueOf()) { %> <!-- Use valueOf() to access the inner value -->
          <option class="publisher-row" selected label="<%= publisher.name %>" value="<%= publisher.id %>">
        <% } else { %>
          <option class="publisher-row" label="<%= publisher.name %>" value="<%= publisher.id %>">
        <% } %>
      <% }) %>
      <% if (publishers.length === 0) { %> <!-- Add this condition -->
      <option class="publisher-row" id="other-publisher-option" value="other">Add First Publisher</option>
    </select>
    <input type="text" id="other-publisher-input" name="otherPublisher" style="display: block;"placeholder="Please Enter Publisher Name" required>
    <% } else { %>  
    <option class="publisher-row" id="other-publisher-option" value="other">Other</option>
    </select>
    <input type="text" id="other-publisher-input" name="otherPublisher" style="display: none;" placeholder="Please Enter Publisher Name" >
    <% } %>
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label class="required">Book Language</label>
    <select name="language" id="docLanguageSelect">
      <% allLanguages.forEach(language => { %>
        <% if (book.language === language.toLowerCase()) { %>
          <option selected label="<%= language.charAt(0).toUpperCase() + language.slice(1) %>" value="<%= language.toLowerCase() %>">
        <% } else { %>
          <option label="<%= language.charAt(0).toUpperCase() + language.slice(1) %>" value="<%= language.toLowerCase() %>">
        <% } %>
      <% }) %>
    </select>
  </div>
</div>
<div class="form-row">
  <div class="form-item">
    <label class="required">Book Type</label>
    <select name="type" id="docTypeSelect">
      <% if (book.type==="book") { %>
        <option selected label="Book" value="book">
          <% } else { %>
        <option label="Book" value="book">
      <% } %>
      <% if (book.type==="ebook") { %>
        <option selected label="E-Book" value="ebook">
          <% } else { %>
        <option label="E-Book/Web" value="ebook">
      <% } %>
    </select>
  </div>
</div>
<div class="form-row">
  <% if (book.type==="ebook") { %>
    <div class="form-item" id="driveUpload">
      <label for="driveLink">Drive/Web Link (Optional)</label>
      <input type="text" name="driveLink" value = "<%=book.driveLink%>" placeholder="It is highly recommended to a add drive link to avoid loosing of ebook">
    </div>
    <div class="form-item" id="setCopies" style="display: none;">
      <label>Copies</label>
      <input type="number" name="copies" id="copies" min="0" value="<%= book.copies %>" required>
    </div>
  <%} else {%>
  <div class="form-item" id="driveUpload" style="display: none;">
    <label for="driveLink">Drive/Web Link (Optional)</label>
    <br>
    <input id="driveUploadInput" type="text" name="driveLink" placeholder="It is highly recommended to a add drive/web link to avoid loosing of ebook">
  </div>
  <div class="form-item" id="setCopies">
    <label>Copies</label>
    <input type="number" name="copies" id="copies" min="0" value="<%= book.copies %>" required>
  </div>
  <%}%>
</div>
<div class="form-row">
  <div class="form-item">
    <label>Publish Date</label>
    <input type="date" name="publishDate"
      value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label class="required">Page Count</label>
    <input type="number" name="pageCount" id="pageCount" min="1" value="<%= book.pageCount %>" required>
  </div>
</div>

<br>
<div class="form-item">
  <label>Set Reading Progress</label>
  <label class="switch">
    <input type="checkbox" id="showBookProgressDetailsToggle" name="showBookProgressDetailsToggle" onchange="showBookProgressDetails()">
    <span class="slider round"></span>
    </label>
  <div style="display: none;" id="showBookProgressDetailsDiv">
    <div class="form-row">
      <div class="form-item">
        <label>Progress</label>
        <select name="progress" required id="progressSelect">
            <% if (book.progress==="yetToStart") { %>
              <option selected label="Yet To Start" value="yetToStart">
                <% } else { %>
              <option label="Yet To Start" value="yetToStart">
            <% } %>
            <% if (book.progress==="completed") { %>
              <option selected label="Completed" value="completed">
                <% } else { %>
              <option label="Completed" value="completed">
            <% } %>
            <% if (book.progress==="inProgress") { %>
              <option selected label="In Progress" value="inProgress"></option>
                <% } else { %>
              <option label="In Progress" value="inProgress"></option>
            <% } %>
        </select>
      </div>
    </div>
    
    <div class="form-row">
        <div class="form-item" id="pagesCompleted">
          <label>Pages Completed</label>
          <input type="number" name="pagesCompleted" id="pagesCompletedInput" min="0" value="<%= book.pagesCompleted %>">
      </div>
    </div>
  </div>
</div>
<br>
<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Cover (jpeg/png/gif/jpg)</label>
    <input type="file" name="cover" class="book-cover filepond">
  </div>
</div>
<br>
<div class="form-row">
  <div class="form-item">
    <label>Description (<a href="/markdown.html" target="_blank">markdown</a>)</label>
      <div style="position: relative;">
        <textarea name="description" class="description" id="description" maxlength="2000"><%= book.description %></textarea>
        <div style="position: absolute; bottom: 15px; right: 5px;" id="character-count"></div>
      </div>
  </div>
</div>



<script>
  var docType = document.getElementById("docTypeSelect");
  var driveUpload = document.getElementById("driveUpload");
  var setCopies = document.getElementById("setCopies");

  docType.addEventListener("change", function() {
    if (docType.value === "ebook") {
      driveUpload.style.display = "block";
      setCopies.style.display = "none";
    } else {
      driveUpload.style.display = "none";
      setCopies.style.display = "block";
    }
  });

  var progressSelect = document.getElementById("progressSelect");
  var pagesCompletedInput = document.getElementById("pagesCompletedInput");
  var pageCount = document.getElementById("pageCount");
  var oldValue = pagesCompletedInput.value;

  progressSelect.addEventListener("change", function() {
    if (progressSelect.value === "inProgress") {
      pagesCompletedInput.value = oldValue;
    } else if (progressSelect.value === "yetToStart") {
      pagesCompletedInput.value = 0;
    }else if (progressSelect.value === "completed") {
      pagesCompletedInput.value = pageCount.value;
    }
  });

  function showBookProgressDetails(){
    var showBookProgressDetailsToggle = document.getElementById("showBookProgressDetailsToggle");
    var showBookProgressDetailsDiv = document.getElementById("showBookProgressDetailsDiv");
    if (showBookProgressDetailsToggle.checked)
      showBookProgressDetailsDiv.style.display = "block";
    else
      showBookProgressDetailsDiv.style.display = "none";
    }

    document.getElementById("author-select").addEventListener("change", function() {
      var selectElement = document.getElementById("author-select");
    var otherAuthorOption = document.getElementById("other-author-option");
    var otherAuthorInput = document.getElementById("other-author-input");
    
    if (selectElement.value === "other") {
      otherAuthorInput.style.display = "block";
      otherAuthorInput.required = true;
    } else {
      otherAuthorInput.style.display = "none";
    }
  });
  document.getElementById("publisher-select").addEventListener("change", function() {
    var selectElement = document.getElementById("publisher-select");
    var otherPublisherOption = document.getElementById("other-publisher-option");
    var otherPublisherInput = document.getElementById("other-publisher-input");
    
    if (selectElement.value === "other") {
      otherPublisherInput.style.display = "block";
      otherPublisherInput.required = true;

    } else {
      otherPublisherInput.style.display = "none";
    }
  });

  // Get the textarea element
  const textarea = document.getElementById('description');

  // Get the element where the character count will be displayed
  const characterCount = document.getElementById('character-count');
  const count = textarea.value.length;
  characterCount.textContent = `${count}/2000`;
  // Add an event listener to the textarea's input event
  textarea.addEventListener('input', () => {
    // Get the current character count
    const count = textarea.value.length;

    // Update the character count display
    characterCount.textContent = `${count}/2000`;
  });

</script>