<div class="form-row">
  <div class="form-item">
    <label class="required">Title</label>
    <input type="text" name="title" value="<%= book.title %>" minlength="1" maxlength="500" placeholder="1-500 charecters">
  </div>
</div>
<div class="form-row">
  <div class="form-item">
    <label class="required">Author</label>
    <select name="author">
      <% authors.forEach(author => { %>
        <% if (book.author && author.id === book.author.valueOf()) { %> <!-- Use valueOf() to access the inner value -->
          <option class="author-row" selected label="<%= author.name %>" value="<%= author.id %>">
        <% } else { %>
          <option class="author-row" label="<%= author.name %>" value="<%= author.id %>">
        <% } %>
      <% }) %>
    </select>
  </div>
</div>
<div class="form-row">
  <div class="form-item">
    <label>Book Language</label>
    <select name="language" id="docLanguageSelect">
      <% allLanguages.forEach(language => { %>
        <% if (book.language === language.toLowerCase()) { %>
          <option selected label="<%= language.charAt(0).toUpperCase() + language.slice(1) %>" value="<%= language.toLowerCase() %>">
        <% } else { %>
          <option label="<%= language.charAt(0).toUpperCase() + language.slice(1) %>" value="<%= language.toLowerCase() %>">
        <% } %>
      <% }) %>
    </select>
  </div>
</div>
<div class="form-row">
  <div class="form-item">
    <label>Book Type</label>
    <select name="type" id="docTypeSelect">
      <% if (book.type==="book") { %>
        <option selected label="Book" value="book">
          <% } else { %>
        <option label="Book" value="book">
      <% } %>
      <% if (book.type==="ebook") { %>
        <option selected label="E-Book" value="ebook">
          <% } else { %>
        <option label="E-Book/Web" value="ebook">
      <% } %>
    </select>
  </div>
</div>
<div class="form-row">
  <% if (book.type==="ebook") { %>
    <div class="form-item" id="driveUpload">
      <label for="driveLink">Drive/Web Link (Optional)</label>
      <input type="text" name="driveLink" value = "<%=book.driveLink%>" placeholder="It is highly recommended to a add drive link to avoid loosing of ebook">
    </div>
  <%} else {%>
  <div class="form-item" id="driveUpload" style="display: none;">
    <label for="driveLink">Drive/Web Link (Optional)</label>
    <br>
    <input id="driveUploadInput" style="position: relative; width: 100%;" type="text" name="driveLink" placeholder="It is highly recommended to a add drive link to avoid loosing of ebook">
  </div>
  <%}%>
</div>
<div class="form-row">
  <div class="form-item">
    <label>Publish Date</label>
    <input type="date" name="publishDate"
      value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label class="required">Page Count</label>
    <input type="number" name="pageCount" id="pageCount" min="1" value="<%= book.pageCount %>" required>
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label class="required">Copies</label>
    <input type="number" name="copies" id="copies" min="1" value="<%= book.copies %>" required>
  </div>
</div>
<br>
<div class="form-item">
  <label>Set Reading Progress</label>
  <label class="switch">
    <input type="checkbox" id="showBookProgressDetailsToggle" name="showBookProgressDetailsToggle" onchange="showBookProgressDetails()">
    <span class="slider round"></span>
    </label>
  <div style="display: none;" id="showBookProgressDetailsDiv">
    <div class="form-row">
      <div class="form-item">
        <label>Progress</label>
        <select name="progress" required id="progressSelect">
            <% if (book.progress==="yetToStart") { %>
              <option selected label="Yet To Start" value="yetToStart">
                <% } else { %>
              <option label="Yet To Start" value="yetToStart">
            <% } %>
            <% if (book.progress==="completed") { %>
              <option selected label="Completed" value="completed">
                <% } else { %>
              <option label="Completed" value="completed">
            <% } %>
            <% if (book.progress==="inProgress") { %>
              <option selected label="In Progress" value="inProgress"></option>
                <% } else { %>
              <option label="In Progress" value="inProgress"></option>
            <% } %>
        </select>
      </div>
    </div>
    
    <div class="form-row">
        <div class="form-item" id="pagesCompleted">
          <label>Pages Completed</label>
          <input type="number" name="pagesCompleted" id="pagesCompletedInput" min="0" value="<%= book.pagesCompleted %>">
      </div>
    </div>
  </div>
</div>
<br>
<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Cover (jpeg/png/gif/jpg)</label>
    <input type="file" name="cover" class="book-cover filepond">
  </div>
</div>
<br>
<div class="form-row">
  <div class="form-item">
    <label>Description (markdown supported up to 2000 characters)</label>
    <textarea name="description" maxlength="2000" class="description"><%= book.description %></textarea>
  </div>
</div>


<script>
  var docType = document.getElementById("docTypeSelect");
  var driveUpload = document.getElementById("driveUpload");

  docType.addEventListener("change", function() {
    if (docType.value === "ebook") {
      driveUpload.style.display = "block";
    } else {
      driveUpload.style.display = "none";
    }
  });

  var progressSelect = document.getElementById("progressSelect");
  var pagesCompletedInput = document.getElementById("pagesCompletedInput");
  var pageCount = document.getElementById("pageCount");
  var oldValue = pagesCompletedInput.value;

  progressSelect.addEventListener("change", function() {
    if (progressSelect.value === "inProgress") {
      pagesCompletedInput.value = oldValue;
    } else if (progressSelect.value === "yetToStart") {
      pagesCompletedInput.value = 0;
    }else if (progressSelect.value === "completed") {
      pagesCompletedInput.value = pageCount.value;
    }
  });

  function showBookProgressDetails(){
    var showBookProgressDetailsToggle = document.getElementById("showBookProgressDetailsToggle");
    var showBookProgressDetailsDiv = document.getElementById("showBookProgressDetailsDiv");
    if (showBookProgressDetailsToggle.checked)
      showBookProgressDetailsDiv.style.display = "block";
    else
      showBookProgressDetailsDiv.style.display = "none";
    }
</script>