<h2 class="page-header">Search Books</h2>
<form action = "/files/books" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Title</label>
      <input type="text" name= "title" value="<%= searchOptions.title%>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Published After</label>
      <input type="date" name= "publishedAfter" value="<%= searchOptions.publishedAfter%>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Published Before</label>
      <input type="date" name= "publishedBefore" value="<%= searchOptions.publishedBefore%>">
    </div>
  </div>
<div class="form-row">
  <div class="form-item-no-grow">
    <label>Book Progress:</label>
    <input type="radio" name="progress" value="" checked>
    <label>All</label>
    <input type="radio" name="progress" value="inProgress"> 
    <label>In Progress</label>
    <input type="radio" name="progress" value="completed">
    <label>Completed</label>
    <input type="radio" name="progress" value="yetToStart">
    <label>Yet to Start</label>
  </div>
</div>
<div class="form-row">
  <div class="form-item-no-grow">
    <label>Book Type:</label>
    <input type="radio" name="type" value="" checked>
    <label>All</label>
    <input type="radio" name="type" value="book"> 
    <label>Book</label>
    <input type="radio" name="type" value="ebook">
    <label>E-Book</label>
  </div>
</div>
<div class="form-row">
  <div class="form-item">
    <label>Sort By</label>
    <select name="sortBy">
      <option selected label="Title" value="title">
      <option label="Created At" value="createdAt">
      <option label="Publish Date" value="publishDate">
      <option label="Page Count" value="pageCount">
      <option label="Modified At" value="lastModifiedAt">
      <option label="Opened At" value="lastOpenedAt">
      <option label="Modifications" value="version">
    </select>
  </div>
</div>
<div class="form-row">
  <label>Sort Type:</label>
  <div class="form-item-no-grow">
    <input type="radio" name="sort" value="asc" id="asc" checked> 
    <label for="asc"><i class="fas fa-arrow-up"></i></label>
    <input type="radio" name="sort" value="desc" id="desc" >
    <label for="desc"><i class="fas fa-arrow-down"></i></label>
  </div>
</div>
<div class="form-row form-row-end">
  <button class="btn btn-primary" type="submit">Search</button>
</div>
</form>
<div class="cards-container">
  <% books.forEach(book => {%>
    <div class="card">
      <a href="/files/books/<%=book.id%>">
        <% if(book.coverImagePath) { %>
          <img src="<%= book.coverImagePath %>">
          <% } else { %>
            <img src="/book.png">
            <% } %>
          </a>    
          <div class="container" style="color: black;">
            <h4><b><%=book.title %></b></h4> 
          </div>
        </div>
        <%})%>
      </div>
      
<br/>
<%- include('../partials/deleteForm' , {url : "books/deleteAll" , buttonName: "Delete All Books"}) %>
<br/>