<h2 class="page-header">Search in <%= booksField  %></h2>
<form action = "/files/books" method="GET" id="myForm">
  <div class="form-row">
    <div class="form-item">
      <label>Title</label>
      <input type="text" list="recentSearches" placeholder="Search Here" name="title" id="title" value="<%= searchOptions.title %>">
      <datalist id="recentSearches">
        <% recentSearches.forEach(searchTerm => { %>
          <option value="<%= searchTerm %>"><%= searchTerm %></option>
        <% }); %>
      </datalist>
    </div>
  </div>

  <div class="form-row">
    <div class="form-item">
      <label>Search in Description / Tags</label>
      <input type="text" placeholder="Search Here" name="description" id="description" value="<%= searchOptions.description %>">
    </div>
  </div>
  
  <div class="form-row">
    <div class="form-item">
      <label>Search in Notes</label>
      <input type="text" placeholder="Search Here" name="notes" id="notes" value="<%= searchOptions.notes %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Sort By</label>
      <select name="sortBy">
        <% if(sortBy === undefined || sortBy === "title") {%>
          <option selected label="Title" value="title" id="sortByTitle">
        <%} else {%>
          <option label="Title" value="title" id="sortByTitle">
        <% } %>

        <% if(sortBy === "createdAt") {%>
          <option selected label="Created At" value="createdAt">
        <%} else {%>
          <option label="Created At" value="createdAt">
        <% } %>

        <% if(sortBy === 'percentageCompleted') {%>
          <option selected label="Percentage Completed" value="percentageCompleted">
        <%} else {%>
          <option label="Percentage Completed" value="percentageCompleted">
        <% } %>

        <% if(sortBy === "publishDate") {%>
          <option label="Publish Date" value="publishDate" selected>
        <%} else {%>
          <option label="Publish Date" value="publishDate">
        <% } %>

        <% if(sortBy === "pageCount") {%>
          <option label="Page Count" value="pageCount" selected>
        <%} else {%>
          <option label="Page Count" value="pageCount">
        <% } %>

        <% if(sortBy === 'lastModifiedAt') {%>
          <option selected label="Modified At" value="lastModifiedAt">
        <%} else {%>
          <option label="Modified At" value="lastModifiedAt">
        <% } %>

        <% if(sortBy === 'lastOpenedAt') {%>
          <option selected label="Opened At" value="lastOpenedAt">
        <%} else {%>
          <option label="Opened At" value="lastOpenedAt">
        <% } %>

        <% if(sortBy === 'version') {%>
          <option selected label="Modification times" value="version">
        <%} else {%>
          <option label="Modification times" value="version">
        <% } %>

        
      </select>
    </div>
  </div>
<div class="form-row">
  <div class="form-item-no-grow">
      <label>Sort Type:</label>
      <% if(sort === undefined || sort === "asc") {%>
        <input type="radio" name="sort" value="asc" id="asc" checked> 
        <label for="asc"><i class="fas fa-arrow-up"></i></label>
      <%} else {%>
        <input type="radio" name="sort" value="asc" id="asc"> 
        <label for="asc"><i class="fas fa-arrow-up"></i></label>
      <%}%>
      <% if(sort === "desc") {%>
        <input type="radio" name="sort" value="desc" id="desc" checked>
        <label for="desc"><i class="fas fa-arrow-down"></i></label>
      <%} else {%>
        <input type="radio" name="sort" value="desc" id="desc">
        <label for="desc"><i class="fas fa-arrow-down"></i></label>
      <%}%>
    </div>
</div>
  <div class="form-row">
    <div class="form-item">
      <label>Apply Filters</label>
      <% if(filterToggle === "on") {%>
      <label class="switch">
        <input type="checkbox" id="filterToggle" name="filterToggle" onchange="showFilters()" checked>
        <span class="slider round"></span>
      </label></div>
    </div>
    <div style="display: block;" id="filterDiv">
      <% } else { %>
        <label class="switch">
          <input type="checkbox" id="filterToggle" onchange="showFilters()" name="filterToggle">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div style="display: none;" id="filterDiv">
      <% } %>
      
  <div class="form-row">
    <div class="form-item">
      <label>Published After</label>
      <input type="date" name= "publishedAfter" id="publishedAfter" value="<%= searchOptions.publishedAfter%>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Published Before</label>
      <input type="date" name= "publishedBefore" id="publishedBefore" value="<%= searchOptions.publishedBefore%>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Book Language</label>
      <select name="language" id="language">
        <option value="<%= searchOptions.language %>" selected>Select Language</option>
        <% allLanguages.forEach(language => { %>
          <option value="<%= language %>" <% if (searchOptions.language === language) { %>selected<% } %>><%= language.charAt(0).toUpperCase() + language.slice(1) %></option>
        <% }); %>
      </select>
    </div>
  </div>
  
  
  <div class="form-row">
    <div class="form-item">
      <% const percentageCompleted = searchOptions.percentageCompleted !== undefined ? searchOptions.percentageCompleted : 0; %>
      <label>Percentage Completed</label>
      <span id="percentageValue" style="margin-left: 2px;"><%= percentageCompleted %></span>
      <input type="range" min="0" max="100" name="percentageCompleted" id="percentageCompleted" value="<%= percentageCompleted %>">
    </div>
  </div>
  
   
  <div class="form-row">
    <div class="form-item-no-grow">
      <label>Book Progress:</label>
      <% if(searchOptions.progress === undefined || searchOptions.progress === "") {%>
        <input type="radio" name="progress" id="progressAll" value="" checked>
        <label>All</label>
      <% } else { %>
        <input type="radio" name="progress" id="progressAll" value="">
        <label>All</label>
      <% } %>

      <% if(searchOptions.progress === "inProgress") {%>
        <input type="radio" name="progress" id="progressinProgress" value="inProgress" checked> 
      <label>In Progress</label>
      <% } else { %>
        <input type="radio" name="progress" id="progressinProgress" value="inProgress"> 
        <label>In Progress</label>
      <% } %>

      <% if(searchOptions.progress === "completed") {%>
        <input type="radio" name="progress" id="progresscompleted" value="completed" checked>
      <label>Completed</label>
      <% } else { %>
        <input type="radio" name="progress" id="progresscompleted" value="completed">
        <label>Completed</label>
      <% } %>

      <% if(searchOptions.progress === "yetToStart") {%>
        <input type="radio" name="progress" id="progressyetToStart" value="yetToStart" checked>
        <label>Yet to Start</label>
      <% } else { %>
        <input type="radio" name="progress" id="progressyetToStart" value="yetToStart">
        <label>Yet to Start</label>
      <% } %>     
    </div>
  </div>
  <div class="form-row">
    <label>Book Type:</label>
    <div class="form-item-no-grow">
      <% if(searchOptions.task === undefined || searchOptions.task === "") {%>
        <input type="radio" name="type" id="typeAll" value="" checked>
        <label>All</label>
      <% } else { %>
        <input type="radio" name="type" id="typeAll" value="">
        <label>All</label>
      <% } %>

      <% if(searchOptions.type === "book") {%>
        <input type="radio" name="type" id="typeBook" value="book" checked> 
        <label>Book</label>
      <% } else { %>
        <input type="radio" name="type" id="typeBook" value="book"> 
        <label>Book</label>
      <% } %>

      <% if(searchOptions.type === "ebook") {%>
        <input type="radio" name="type" id="typeEBook" value="ebook" checked>
      <label>E-Book/Web</label>
      <% } else { %>
        <input type="radio" name="type" id="typeEBook" value="ebook">
        <label>E-Book/Web</label>
      <% } %>

    </div>
  </div>
</div>

<div class="form-row form-row-end">
  <button class="btn btn-primary" type="submit">Search</button>
  <button type="submit" class="btn btn-danger" onclick="resetForm()">Reset</button>
</div>
</form>
<div>
  <h4><%= books.length %> Results Found in Page <%=current%> / <%= pages %> </h4>
  <br/>
</div>
<div class="cards-container">
  <% books.forEach(book => { %>
    <div class="card">
      <a href="/files/books/<%= book.id %>">
        <% if (book.coverImagePath) { %>
          <img src="<%= book.coverImagePath %>">
        <% } else { %>
          <img src="/book.png">
        <% } %>
        <div class="container">
          <%= book.title %>
        </div>
      </a>
    </div>
  <% }) %>
</div>
<br/>

<% if (pages > 0) { %>
  <ul class="pagination pagination-lg text-center" id="pagination-list">
    <% const queryString = new URLSearchParams(searchOptions).toString(); %>
    <% const baseLink = "/files/books"; %>
    <% const previousPageLink = current > 1 ? `${baseLink}?page=${current - 1}&${queryString}` : '#'; %>
    <% const nextPageLink = current < pages ? `${baseLink}?page=${current + 1}&${queryString}` : '#'; %>
    <% const firstPageLink = current > 1 ? `${baseLink}?page=1&${queryString}` : '#'; %>
    <% const lastPageLink = current < pages ? `${baseLink}?page=${pages}&${queryString}` : '#'; %>
    <% if (current == 1) { %>
      <li class="disabled"><a>First</a></li>
    <% } else { %>
      <li><a href="<%= firstPageLink %>">First</a></li>
    <% } %>
    <% if (current > 1) { %>
      <li><a href="<%= previousPageLink %>">Previous</a></li>
    <% } %>
    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
    <% if (i !== 1) { %>
      <li class="disabled"><a>...</a></li>
    <% } %>
    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
      <% const pageLink = `${baseLink}?page=${i}&${queryString}`; %>
      <% if (i == current) { %>
        <li class="active"><a><%= i %></a></li>
      <% } else { %>
        <li><a href="<%= pageLink %>"><%= i %></a></li>
      <% } %>
      <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="disabled"><a>...</a></li>
      <% } %>
    <% } %>
    <% if (current < pages) { %>
      <li><a href="<%= nextPageLink %>">Next</a></li>
    <% } %>
    <% if (current == pages) { %>
      <li class="disabled"><a>Last</a></li>
    <% } else { %>
      <li><a href="<%= lastPageLink %>">Last</a></li>
    <% } %>
  </ul>
<% } %>




<script>
  // Function to update the pagination class based on window width
  function updatePaginationClass() {
    const paginationList = document.getElementById("pagination-list");
    const windowWidth = window.innerWidth;
  
    if (windowWidth < 650) {
      paginationList.classList.remove("pagination-lg");
      paginationList.classList.add("pagination-sm");
    } else {
      paginationList.classList.remove("pagination-sm");
      paginationList.classList.add("pagination-lg");
    }
  }
  
  // Initial setup when the page loads
  updatePaginationClass();
  
  // Add event listener for window resize
  window.addEventListener("resize", () => {
    updatePaginationClass();
  });

  
  const slider = document.getElementById('percentageCompleted');
  const percentageValue = document.getElementById('percentageValue');

  slider.addEventListener('input', function() {
    percentageValue.textContent = slider.value;
  });


  function resetForm() {
    document.getElementById("title").value='';
    document.getElementById("description").value='';
    document.getElementById("notes").value='';
    document.getElementById("asc").checked = true;
    document.getElementById("desc").checked = false;
    document.getElementById("sortByTitle").selected = true;
  }

  function showFilters(){
    var filterToggle = document.getElementById("filterToggle");
    var filterDiv = document.getElementById("filterDiv");
    if (filterToggle.checked)
      filterDiv.style.display = "block";
    else{
      filterDiv.style.display = "none";
      document.getElementById("percentageCompleted").value=0;
      document.getElementById("language").value='';
      document.getElementById("publishedAfter").value='';
      document.getElementById("publishedBefore").value='';
      document.getElementById("typeAll").checked=true;
      document.getElementById("typeBook").checked=false;
      document.getElementById("typeEBook").checked=false;
      document.getElementById("progressAll").checked=true;
      document.getElementById("progressinProgress").checked=false;
      document.getElementById("progressyetToStart").checked=false;
      document.getElementById("progresscompleted").checked=false;
      document.getElementById("myForm").submit();
  }
  }


</script>