<h2 class="title-header">
    <%= book.title %>
</h2>
<div>
    <% if(book.coverImagePath) { %>
        <img class="book-image" src="<%= book.coverImagePath %>">
        <% } else { %>
            <img  class="book-image" src="/book.png">
            <% } %>
</div>
<div class="dashboard-details">
    <div>Author : <%=book.author.name %>
    </div>
    <div>Publish Date : <%=book.publishDate.toDateString() %>
    </div>
    <div>Book Type :
        <% if(book.type==="book" ) { %>
            Book
        <% } else { %>
            E-Book/Web
            <%if(book.driveLink) {%>
                <div>
                    <a href="<%=book.driveLink%>">Drive/Web Link</a>
                </div>
             <% } %> 
        <%}%>
    </div>
    <div>
        <label>Show Description</label>
        <label class="switch">
        <input type="checkbox" id="showDescToggle" name="showDescToggle" onchange="showDesc()">
        <span class="slider round"></span>
        </label>
        <div style="display: none;" id="showDescDiv" class="description">
            <button onclick="copyText()">Copy Text</button>
            <div id="description">
                <%- book.sanitizedDescription %>
            </div>
        </div>
    </div>
    
    <br>
    <div>Page Count : <%=book.pageCount %>
    <br/>
    <div>Progress :
        <% if(book.progress==="inProgress" ) { %>
            In Progress
            <div>Pages Completed : <%=book.pagesCompleted %>
            <br/>
            <div>Percentage Completed : <%= Math.round(book.percentageCompleted * 100 * 100) / 100 %>%
            </div>
            <% } else if(book.progress==="completed" ) { %>
                Completed
                <% } else { %>
                    Yet to Start
                    <%}%>
    </div>
    <div>
        <label>Show Version History</label>
        <label class="switch">
        <input type="checkbox" id="showBookVersionHistoryToggle" name="showBookVersionHistoryToggle" onchange="showBookVersionHistory()">
        <span class="slider round"></span>
        </label>
        <div style="display: none;" id="showBookVersionHistoryDiv" class="description">
            <div>Last Modified At : <%=book.lastModifiedAt.toDateString() %>
            </div>
            <div>Last Opened At : <%=book.lastOpenedAt.toDateString() %>
            </div>
            <div>Created At : <%=book.createdAt.toDateString() %>
            </div>
            <div>Modification Times : <%=book.version %>
            </div>
        </div>
    </div>
    </div>
<div class="btn-group">
    <form action="<%= book.id%>/addOrRemoveFav" method="post">
        <button type="submit" class="btn btn-primary">Add to Fav</button>
    </form>
    <a class="btn btn-primary" href="/files/books/<%= book.id%>/notes">Notes</a>
    <a class="btn btn-primary" href="/files/books/<%= book.id%>/edit">Edit</a>
    <a class="btn btn-primary" href="/files/authors/<%= book.author.id%>/">View Author</a>
    <br>
    <%- include('../partials/deleteForm' , {url: `/files/books/${book.id}` , buttonName: "Delete" }) %>
</div>

<script>
    function showBookVersionHistory(){
    var showBookVersionHistoryToggle = document.getElementById("showBookVersionHistoryToggle");
    var showBookVersionHistoryDiv = document.getElementById("showBookVersionHistoryDiv");
    if (showBookVersionHistoryToggle.checked)
      showBookVersionHistoryDiv.style.display = "block";
    else
      showBookVersionHistoryDiv.style.display = "none";
    }
    function showDesc(){
    var showDescToggle = document.getElementById("showDescToggle");
    var showDescDiv = document.getElementById("showDescDiv");
    if (showDescToggle.checked)
      showDescDiv.style.display = "block";
    else
      showDescDiv.style.display = "none";
    }


function copyText() {
  // Get the content of the div
  var description = document.getElementById("description").innerText;

  // Create a temporary textarea element
  var textarea = document.createElement("textarea");
  textarea.value = description;

  // Append the textarea to the document
  document.body.appendChild(textarea);

  // Select the text in the textarea
  textarea.select();
  textarea.setSelectionRange(0, 99999); // For mobile devices

  // Copy the text to the clipboard
  document.execCommand("copy");

  // Remove the temporary textarea
  document.body.removeChild(textarea);

  // Alert the user
  alert("Text copied to clipboard: " + description);
}
</script>