<h2 class="title-header">
    <%= book.title %>
</h2>
<div>
    <% if(book.coverImagePath) { %>
        <img class="book-image" src="<%= book.coverImagePath %>">
        <% } else { %>
            <img  class="book-image" src="/book.png">
            <% } %>
</div>
<div class="dashboard-details">
    <div>Author : <%=book.author.name %>
    </div>
    <div>Publisher/Platform : <%=book.publisher.name %>
    </div>
    <div>Publish Date : <%=book.publishDate.toDateString() %>
    </div>
    <div>Book Type :
        <% if(book.type==="book" ) { %>
            Book
            <br/>
            <div>Copies : <%=book.copies %>
        <% } else { %>
            E-Book/Web
            <%if(book.driveLink) {%>
                <div>
                    <a href="<%=book.driveLink%>" style="color: inherit;" target="_blank">Drive/Web Link</a>
                </div>
             <% } %> 
        <%}%>
    </div>
    <div>
        <label>Show Description</label>
        <label class="switch">
        <input type="checkbox" id="showDescToggle" name="showDescToggle" onchange="showDesc()">
        <span class="slider round"></span>
        </label>
        <div style="display: none;" id="showDescDiv" class="description">
            <div id="description">
                <%- book.sanitizedDescription %>
            </div>
            <br/>
        </div>
    </div>
    <div>Page Count : <%=book.pageCount %>
    <br/>
    <div>Progress :
        <% if(book.progress==="inProgress" ) { %>
            In Progress
            <div>Pages Completed : <%=book.pagesCompleted %>
            <br/>
            <div>Percentage Completed : <%= Math.round(book.percentageCompleted * 100 * 100) / 100 %>%
            </div>
            <% } else if(book.progress==="completed" ) { %>
                Completed
                <% } else { %>
                    Yet to Start
                    <%}%>
    </div>
    <div>
        <label>Show Version History</label>
        <label class="switch">
        <input type="checkbox" id="showBookVersionHistoryToggle" name="showBookVersionHistoryToggle" onchange="showBookVersionHistory()">
        <span class="slider round"></span>
        </label>
        <div style="display: none;" id="showBookVersionHistoryDiv" class="description">
            <div>Last Modified At : <%=book.lastModifiedAt.toDateString() %>
            </div>
            <div>Last Opened At : <%=book.lastOpenedAt.toDateString() %>
            </div>
            <div>Created At : <%=book.createdAt.toDateString() %>
            </div>
            <div>Modification Times : <%=book.version %>
            </div>
        </div>
    </div>
    <br/>
    </div>
<div class="btn-group">
    <form action="/files/books/<%= book.id%>/addOrRemoveFav" method="post">
        <% if(book.isFavourite){ %>
        <button id="showPopupButton" type="submit" class="btn btn-primary tooltip" >
            <i class="fas fa-heart" style="color: red;"></i>
            <span class="tooltiptext">Remove From Favourite Books</span>
        </button>
        <div id="popup" class="popup">
            <p id="loadingMessage">Removing Book <span id="dots"></span></p>
        </div> 
        <% } else { %>
        <button id="showPopupButton" type="submit" class="btn btn-primary tooltip">
            <i class="fas fa-heart"></i>
            <span class="tooltiptext">Add to Favourite Books</span>
        </button> 
        <div id="popup" class="popup">
            <p id="loadingMessage">Adding Book<span id="dots"></span></p>
        </div> 
        <% } %> 
    </form>
    <form action="/files/books/<%= book.id%>/addOrRemoveDailyReadBook" method="post">
        <% if(book.isDailyBook){ %>
            <button id="showPopupButtonDailyBook" type="submit" class="btn btn-primary tooltip" >
                <i class="fas fa-book" style="color: rgb(248, 169, 50);"></i>
                <span class="tooltiptext">Remove From Daily Read</span>
            </button>
            <div id="popupDailyBook" class="popup">
                <p>Removing Book</p>
            </div> 
        <% } else { %>
            <button id="showPopupButtonDailyBook" type="submit" class="btn btn-primary tooltip">
                <i class="fas fa-book"></i>
                <span class="tooltiptext">Add to Daily Read</span>
            </button>
            <div id="popupDailyBook" class="popup">
                <p>Adding Book</p>
            </div> 
        <% } %> 
    </form>
    <a class="btn btn-primary" href="/files/books/<%= book.id%>/notes">Notes</a>
    <a class="btn btn-primary" href="/files/books/<%= book.id%>/edit">Edit</a>
    <a class="btn btn-primary" href="/files/authors/<%= book.author.id%>/">View Author</a>
    <a class="btn btn-primary" href="/files/publishers/<%= book.publisher.id%>/">View Publisher</a>
    <br>
    <%- include('../partials/deleteForm' , {url: `/files/books/${book.id}` , buttonName: "Delete" }) %>
</div>

<script>
    function showBookVersionHistory(){
    var showBookVersionHistoryToggle = document.getElementById("showBookVersionHistoryToggle");
    var showBookVersionHistoryDiv = document.getElementById("showBookVersionHistoryDiv");
    if (showBookVersionHistoryToggle.checked)
      showBookVersionHistoryDiv.style.display = "block";
    else
      showBookVersionHistoryDiv.style.display = "none";
    }
    function showDesc(){
    var showDescToggle = document.getElementById("showDescToggle");
    var showDescDiv = document.getElementById("showDescDiv");
    if (showDescToggle.checked)
      showDescDiv.style.display = "block";
    else
      showDescDiv.style.display = "none";
    }


  document.getElementById("showPopupButton").addEventListener("click", function() {
    var popup = document.getElementById("popup");
    const loadingMessage = document.getElementById("loadingMessage");
    const dotsElement = document.getElementById("dots");

    loadingMessage.style.display = "inline"; // Show the loading message
    popup.style.display = "block"; // Show the popup

    let dotsCount = 0;
    const interval = setInterval(() => {
      dotsElement.textContent = ".".repeat(dotsCount);
      dotsCount = (dotsCount + 1) % 4; // Loop dotsCount from 0 to 3
    }, 200); // Change dots every 0.5 seconds (200 milliseconds)


    setTimeout(() => {
      clearInterval(interval);
      dotsElement.textContent = ""; // Clear dots
      loadingMessage.style.display = "none"; // Hide the loading message
      popup.style.display = "none"; // Hide the popup
    }, 5000); // Simulate loading for 5 seconds (5000 milliseconds)
  });

  document.getElementById("showPopupButtonDailyBook").addEventListener("click", function() {
    var popup = document.getElementById("popup");
    const loadingMessage = document.getElementById("loadingMessage");
    const dotsElement = document.getElementById("dots");

    loadingMessage.style.display = "inline"; // Show the loading message
    popup.style.display = "block"; // Show the popup

    let dotsCount = 0;
    const interval = setInterval(() => {
      dotsElement.textContent = ".".repeat(dotsCount);
      dotsCount = (dotsCount + 1) % 4; // Loop dotsCount from 0 to 3
    }, 200); // Change dots every 0.5 seconds (200 milliseconds)


    setTimeout(() => {
      clearInterval(interval);
      dotsElement.textContent = ""; // Clear dots
      loadingMessage.style.display = "none"; // Hide the loading message
      popup.style.display = "none"; // Hide the popup
    }, 5000); // Simulate loading for 5 seconds (5000 milliseconds)
  });

</script>