<h2 class="page-header">Recently Read by <br><%= user.username %></h2>

<div class="cards-container">
  <% books.forEach(book => { %>
    <div class="card">
      <a href="/files/books/<%= book.id %>">
        <% if (book.coverImagePath) { %>
          <img src="<%= book.coverImagePath %>">
          <% } else { %>
            <img src="/book.png">
            <% } %>
          </a>
          <!-- Buttons container -->
          <div class="buttons-container">
            <a href="/files/books/<%= book.id %>/edit">
              <i style="color: blue; background-color: aliceblue; border-radius: 50%; font-size: 10px; margin: 3px; padding: 4px;" class="fa fa-pen"></i>
            </a>
            <a href="/files/books/<%= book.id %>/notes">
              <i style="color: rgb(156, 103, 4); background-color: aliceblue; border-radius: 50%; font-size: 10px; margin: 3px; padding: 4px;" class="fa fa-note-sticky"></i>
            </a>
            <!-- <form method="POST" action="/files/books/<%= book.id %>/addOrRemoveDailyReadBook?_method=POST"> -->
              <button style="margin: 0px; padding: 0px;" onclick="addOrRemoveDailyReadBook('<%= book.id %>')" class="theme-button">
                <% if(book.isDailyBook){ %>
                <i id="dailyReadButton<%= book.id  %>" style="color: orange; background-color: aliceblue; border-radius: 50%; font-size: 10px; margin: 4px; padding: 5px;" class="fa fa-book"></i>
                <% } else { %>
                <i id="dailyReadButton<%= book.id  %>" style="background-color: aliceblue; border-radius: 50%; font-size: 10px; margin: 4px; padding: 5px;" class="fa fa-book"></i>
                <% } %> 
              </button>
              <button style="margin: 0px; padding: 0px;" onclick="addOrRemoveFavourite('<%= book.id %>')" class="theme-button">
                <% if(book.isFavourite){ %>
                <i id="favouriteButton<%= book.id  %>" style="color: red; background-color: aliceblue; border-radius: 50%; font-size: 10px; margin: 3px; padding: 5px;" class="fa fa-heart"></i>
                <% } else { %>
                <i id="favouriteButton<%= book.id  %>" style="background-color: aliceblue; border-radius: 50%; font-size: 10px; margin: 3px; padding: 5px;" class="fa fa-heart"></i>
                <% } %>
              </button>
              <button style="margin: 0px; padding: 0px;" class="theme-button" onclick="deleteBook('<%= book.id %>')">
                <i style="color: black; background-color: aliceblue; border-radius: 50%; font-size: 10px; margin: 4px; padding: 5px;" class="fa fa-trash"></i>
              </button>
          </div>
          
            <a href="/files/books/<%= book.id %>">
            <div class="container">
              <div style="height: 90px; width: 100%;"><%= book.title %></div>
            </div>
          </div>
        </a>
  <% }) %>
</div>
<br/>
<% if (pages > 0) { %>
  <ul class="pagination pagination-lg text-center" id="pagination-list">
    <% if (current == 1) { %>
      <li class="disabled"><a>First</a></li>
    <% } else { %>
      <li><a href="/files?page=1">First</a></li>
    <% } %>
    <% if (current > 1) { %>
      <li><a href="/files?page=<%= current - 1 %>">Previous</a></li>
    <% } %>
    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
    <% if (i !== 1) { %>
      <li class="disabled"><a>...</a></li>
    <% } %>
    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
      <% if (i == current) { %>
        <li class="active"><a><%= i %></a></li>
      <% } else { %>
        <li><a href="/files?page=<%= i %>"><%= i %></a></li>
      <% } %>
      <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="disabled"><a>...</a></li>
      <% } %>
    <% } %>
    <% if (current < pages) { %>
      <li><a href="/files?page=<%= current + 1 %>">Next</a></li>
    <% } %>
    <% if (current == pages) { %>
      <li class="disabled"><a>Last</a></li>
    <% } else { %>
      <li><a href="/files?page=<%= pages %>">Last</a></li>
    <% } %>
  </ul>
<% } %>

<script>
  // Function to update the pagination class based on window width
  function updatePaginationClass() {
    const paginationList = document.getElementById("pagination-list");
    const windowWidth = window.innerWidth;
  
    if (windowWidth < 650) {
      paginationList.classList.remove("pagination-lg");
      paginationList.classList.add("pagination-sm");
    } else {
      paginationList.classList.remove("pagination-sm");
      paginationList.classList.add("pagination-lg");
    }
  }
  
  // Initial setup when the page loads
  updatePaginationClass();
  
  // Add event listener for window resize
  window.addEventListener("resize", () => {
    updatePaginationClass();
  });
</script>



<script defer src="/javascripts/cardButtons.js"></script>