<h2 class="page-header">Hello <%= user.username %>!</h2>
<div class="dashboard-details">
    Total Authors : <%= authorsLength %>
    <br>
    Total Books : <%= totalBooksLength %>
    <br>
    Normal Books : <%= physicalBooksLength %>
    <br>
    E-Books : <%= eBooksLength %>
    <br>
    <label for="completedBooks">Completed Books: </label>
    <progress id="completedBooks" value="<%=completedBooksLength%>" max="<%=totalBooksLength%>"></progress>
    <%=completedBooksLength%>/<%=totalBooksLength%>
    <br>
    <label for="inProgressBooks">Inprogress Books: </label>
    <progress id="inProgressBooks" value="<%=inProgressBooksLength%>" max="<%=totalBooksLength%>"></progress>
    <%=inProgressBooksLength%>/<%=totalBooksLength%>
    <br>
    <label for="yetToStartBooks">Yet to Start Books: </label>
    <progress id="yetToStartBooks" value="<%=yetToStartBooksLength%>" max="<%=totalBooksLength%>"></progress>
    <%=yetToStartBooksLength%>/<%=totalBooksLength%>
</div>

<div class="btn-group">
    <a class="btn btn-primary" href="/user/<%= user.id %>/edit">Edit User</a>
    <a class="btn btn-primary" href="/user/<%= user.id %>/editPassword">Change Password</a>
</div>
<br>
<%- include('../partials/deleteForm', { url: `/user/${user.id}`, buttonName: "Delete account" }) %>

