<h2 class="page-header">Search Authors</h2>
<form action="/files/authors" method="GET" id="myForm">
  <div class="form-row">
    <div class="form-item">
      <label>Name</label>
      <input type="text" id="name" name="name" value="<%= searchOptions.name %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Sort By</label>
      <select name="sortBy">
        <option selected label="Name" value="name">
        <option label="Created At" value="createdAt">
        <option label="Modified At" value="lastModifiedAt">
        <option label="Opened At" value="lastOpenedAt">
        <option label="Modifications" value="version">
      </select>
    </div>
  </div>
  <div class="form-row">
    <label>Sort Type:</label>
    <div class="form-item-no-grow">
      <input type="radio" name="sort" value="asc" id="asc" checked> 
      <label for="asc"><i class="fas fa-arrow-up"></i></label>
      <input type="radio" name="sort" value="desc" id="desc">
      <label for="desc"><i class="fas fa-arrow-down"></i></label>
    </div>
  </div>
  <div class="form-row form-row-end">
    <button type="button" class="btn btn-danger" onclick="resetForm()">Reset</button>
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<% authors.forEach(author => { %>
  <div class="author-row">
    <div class="author-name"><%= author.name %></div>
    <div class="btn-row">
      <a class="btn btn-primary" href="/files/authors/<%= author.id %>">View</a>
      <a class="btn btn-primary" href="/files/authors/<%= author.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm',
      { url: `/files/authors/${author.id}` , buttonName : "Delete"}) %>
    </div>
  </div>
<% }) %>

<script>
  function resetForm() {
    document.getElementById("myForm").reset();
    document.getElementById("name").value='';
  }
</script>