<h2 class="page-header">Search Authors</h2>
<form action="/files/authors" method="GET" id="myForm">
  <div class="form-row">
    <div class="form-item">
      <label>Name</label>
      <input type="text" id="name" name="name" value="<%= searchOptions %>" placeholder="Search Here">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Sort By</label>
      <select name="sortBy">
        
        <% if(sortBy === undefined || sortBy === "name") {%>
          <option selected label="Name" value="name" id="sortByName">
        <%} else {%>
          <option label="Name" value="name" id="sortByName">
        <% } %>

        <% if(sortBy === "createdAt") {%>
          <option selected label="Created At" value="createdAt">
        <%} else {%>
          <option label="Created At" value="createdAt">
        <% } %>

        <% if(sortBy === 'lastModifiedAt') {%>
          <option selected label="Modified At" value="lastModifiedAt">
        <%} else {%>
          <option label="Modified At" value="lastModifiedAt">
        <% } %>

        <% if(sortBy === 'lastOpenedAt') {%>
          <option selected label="Opened At" value="lastOpenedAt">
        <%} else {%>
          <option label="Opened At" value="lastOpenedAt">
        <% } %>

        <% if(sortBy === 'version') {%>
          <option selected label="Modifications" value="version">
        <%} else {%>
          <option label="Modifications" value="version">
        <% } %>

      </select>
    </div>
  </div>
  <div class="form-row">
    <label>Sort Type:</label>
    <div class="form-item-no-grow">
      <% if(sort === undefined || sort === "asc") {%>
        <input type="radio" name="sort" value="asc" id="asc" checked> 
        <label for="asc"><i class="fas fa-arrow-up"></i></label>
      <%} else {%>
        <input type="radio" name="sort" value="asc" id="asc"> 
        <label for="asc"><i class="fas fa-arrow-up"></i></label>
      <%}%>
      <% if(sort === "desc") {%>
        <input type="radio" name="sort" value="desc" id="desc" checked>
        <label for="desc"><i class="fas fa-arrow-down"></i></label>
      <%} else {%>
        <input type="radio" name="sort" value="desc" id="desc">
        <label for="desc"><i class="fas fa-arrow-down"></i></label>
      <%}%>
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
    <button type="submit" class="btn btn-danger" id="resetButton" onclick="resetForm()">Reset</button>
  </div>
</form>
<h4><%= authors.length %> Results Found in Page <%=current%> / <%= pages %> </h4>
<br/>
<% authors.forEach(author => { %>
  <div class="author-row">
    <div class="author-name"><%= author.name %></div>
    <div class="btn-row">
      <a class="btn btn-primary" href="/files/authors/<%= author.id %>">View</a>
      <a class="btn btn-primary" href="/files/authors/<%= author.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm',
      { url: `/files/authors/${author.id}` , buttonName : "Delete"}) %>
    </div>
  </div>
<% }) %>
<% if (pages > 0) { %>
  <ul class="pagination pagination-lg text-center" id="pagination-list">
    <% if (current == 1) { %>
      <li class="disabled"><a>First</a></li>
    <% } else { %>
      <li><a href="/files/authors?page=1&name=<%= searchOptions %>&sortBy=<%= sortBy %>&sort=<%= sort %>">First</a></li>
    <% } %>
    <% if (current > 1) { %>
      <li><a href="/files/authors?page=<%= current - 1 %>&name=<%= searchOptions %>&sortBy=<%= sortBy %>&sort=<%= sort %>">Previous</a></li>
    <% } %>
    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
    <% if (i !== 1) { %>
      <li class="disabled"><a>...</a></li>
    <% } %>
    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
      <% if (i == current) { %>
        <li class="active"><a><%= i %></a></li>
      <% } else { %>
        <li><a href="/files/authors?page=<%= i %>&name=<%= searchOptions %>&sortBy=<%= sortBy %>&sort=<%= sort %>"><%= i %></a></li>
      <% } %>
      <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="disabled"><a>...</a></li>
      <% } %>
    <% } %>
    <% if (current < pages) { %>
      <li><a href="/files/authors?page=<%= current + 1 %>&name=<%= searchOptions %>&sortBy=<%= sortBy %>&sort=<%= sort %>">Next</a></li>
    <% } %>
    <% if (current == pages) { %>
      <li class="disabled"><a>Last</a></li>
    <% } else { %>
      <li><a href="/files/authors?page=<%= pages %>&name=<%= searchOptions %>&sortBy=<%= sortBy %>&sort=<%= sort %>">Last</a></li>
    <% } %>
  </ul>
<% } %>


<script>
// Function to update the pagination class based on window width
function updatePaginationClass() {
  const paginationList = document.getElementById("pagination-list");
  const windowWidth = window.innerWidth;

  if (windowWidth < 650) {
    paginationList.classList.remove("pagination-lg");
    paginationList.classList.add("pagination-sm");
  } else {
    paginationList.classList.remove("pagination-sm");
    paginationList.classList.add("pagination-lg");
  }
}

// Initial setup when the page loads
updatePaginationClass();

// Add event listener for window resize
window.addEventListener("resize", () => {
  updatePaginationClass();
});

function resetForm() {
  document.getElementById("asc").checked = true;
  document.getElementById("desc").checked = false;
  document.getElementById("sortByName").selected = true;
  document.getElementById("name").value = '';
}

</script>