<h2 class="page-header"><%= author.name %></h2>
<a href="/files/authors/<%= author.id %>/edit">Edit Author</a>
<%- include('../partials/deleteForm' , 
                    {url: `/files/authors/${author.id}` , buttonName: "Delete"}) %>
<% if (booksByAuthor.length > 0){ %>    
    <h2>Books By Author</h2>
    <% booksByAuthor.forEach(book => {%>
        <a href="/files/books/<%=book.id%>">
            <img height = "150" width= "100" src = "<%= book.coverImagePath %>">
        </a>
        <%})%>
<% } %>
